footer {
    display: block;
    padding-top: 60px;
}
.container{
   
    width:auto;
    height:auto;
}

.vids {
    position: relative;
    z-index: -1;
    top: 0;
    left: 0;
    width: 50%; 
    height:50%;
    object-fit: cover;
}
.stay {
    min-height:90vh;
    min-height: 90dvh;
    display: grid;
    grid-template-rows:
    auto
    1fr
    auto;
}

